.edit-container {
  min-height: calc(100vh - 10px); /* header height */
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f4f6f8;
}

.edit-form {
  background: white;
  padding: 30px;
  width: 350px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

.edit-form h2 {
  text-align: center;
  margin-bottom: 20px;
}

.edit-form label {
  font-weight: 600;
  margin-top: 10px;
  display: block;
}

.edit-form input,
.edit-form textarea {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.edit-form button {
  width: 100%;
  margin-top: 20px;
  padding: 10px;
  background: #4f46e5;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.edit-form button:hover {
  background: #4338ca;
}
