
        .register-container {
          display: flex;
          justify-content: center;
          margin-top: 20px;
        }
        .register-box {
          width: 350px;
          padding: 25px;
          border: 1px solid #ddd;
          border-radius: 10px;
          box-shadow: 0 0 10px #ececec;
        }
         .register-box h2 {
          text-align: center;
          margin-bottom: 20px;
        }
        .register-box input {
          width: 100%;
          padding: 10px;
          margin-bottom: 10px;
          border: 1px solid #ccc;
          border-radius: 6px;
        }
           button {
          width: 100%;
          padding: 12px;
          background-color: #2874f0;
          color: white;
          border: none;
          border-radius: 6px;
          font-size: 16px;
          cursor: pointer;
        }

        button:hover {
          background-color: #1a5acb;
        }

        .login-link {
          text-align: center;
          margin-top: 10px;
        }

        .login-link a {
          color: #2874f0;
          text-decoration: none;
        }
        .errormsg{
          color: red;
        }